body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    
}

.containers {
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.my-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
}


#mybox
{
    font-size: 20px;
}

