{% extends 'base.html' %}
{% block content %}
<br><br>
<br><br>

<div class="container" align='center'>
    
    <h1>Website Credits</h1>
    <br><br>
    <h3>Developed and Tested By</h3>
    <ul class="credits-list">
        <li class="credit-item"><i>Ravin D - Full Stack Python Developer</i> <a href='https://github.com/ravin-d-27/' target="_blank">Github</a></li>
        <li class="credit-item"><i>Lakshmi D - Senior Test Lead</i></li>
    </ul>

    <h3>Framework and Libraries</h3>
    <ul class="credits-list">
        <li class="credit-item"><i>Django - <a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a></i></li>
        <li class="credit-item"><i>Bootstrap - <a href="https://getbootstrap.com" target="_blank">https://getbootstrap.com</a></i></li>
    </ul>
</div>

{% endblock %}