{% extends 'base.html' %}
{% block content %}

<div align="center" class="container">

    <h1>Timer Data for {{ request.user.username }}</h1>
    <br>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if not error %}
        <table>
            <tr>
                <th>Name</th>
                <th>Time Taken</th>
                <th>Category</th>
            </tr>
            {% for name in data_list %}
                <tr>
                    <td>{{ name.1 }}</td>
                    <td>{{ name.2 }}</td>
                    <td>{{ name.3 }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <a class="btn btn-primary" href="#" id="clearButton">Clear this Table</a>
    {% endif %}
    
    <script>
        document.getElementById('clearButton').addEventListener('click', function() {
            var result = confirm("This will delete all records. Click OK to proceed.");
            if (result) {
                // If the user clicks "OK", redirect to the 'clear' URL
                window.location.href = "{% url 'clear' %}";
            }
            // If the user clicks "Cancel", do nothing
        });
    </script>
    
</div>

{% endblock %}
