{% extends 'base.html' %}

{% block content %}

{% load static %}
  
  <br>
  {% if message %}
    <div class="container alert alert-success" id="alert-container" role="alert">
      {{ message }}
    </div>
  {% endif %}
  <br>
  <br>

  <div align="center">
    
    <h1>Welcome to Timer Website</h1>
    <br>
    <p>Here you can set a timer for Toastmaster Speaking Sessions such as Table Topic Sessions and Prepared Speech Sessions</p>
    <br>
  </div>
  

  <div class="containers">
    <div class="box" align="center">
      <h2>Prepared Speech Sessions</h2>
      <p>This option is for prepared speech sessions</p>
      <br>
      {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'new_timer2' %}">Let's Go!</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'login' %}">Let's Go!</a>
      {% endif %}
    </div>
    <div class="box" align="center">
      <h2>Table Topics Sessions</h2>
      <p>This option is for Table Topics Sessions</p>
      <br>
      {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'new_timer' %}">Let's Go!</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'login' %}">Let's Go!</a>
      {% endif %}
    </div>
    <div class="box" align="center">
      <h2>Toastmaster Debate Sessions</h2>
      <p>This option is for conducting Debate Sessions</p>
      <br>
      {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'new_timer' %}">Let's Go!</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'login' %}">Let's Go!</a>
      {% endif %}
    </div>
  </div>

  <script>
    setTimeout(function() {
      document.getElementById('alert-container').style.display = 'none';
    }, 4000);
  </script>

{% endblock %}
