
{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container" align="center">

    <h1>Enter the Details to Proceed</h1>
<br>
  
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Start Timer</button>
    </form>



</div>

{% else %}

<br><br>
<br><br>
<br><br>
<div class="containering">
  <div>
      <h1 class="error-message" align="center">404 - Page Not Found</h1>
      <p align="center">Oops! The page you are looking for might be in another castle.</p>
      <div class="image-container" align="center">
          <img src="https://www.pngkit.com/png/full/12-129685_sad-face-transparent-png-crying-emoji-transparent-background.png" alt="Sad Mario" width="50px" height="50px">
      </div>
      <br>
      <p align="center"><a class="btn btn-primary" href="/">Home page</a></p>
  </div>
</div>

{% endif %}

{% endblock %}